crawler/out/
crawler/Results/
crawler/Results_mode1/**
crawler/Results1/
crawler/nohup.out
crawler/target/
crawler/src/test/
corpus4_construction/newdata/
final_corpus/mode1_old_backup
final_corpus/mode3_latest_backup
final_corpus/mode1_old_temp
final_corpus/mode3_latest_temp
final_corpus/mode1_old/images
final_corpus/mode3_latest/images
final_corpus/
*.tar.gz


*.pyc
crawler/.settings/org.eclipse.m2e.core.prefs
crawler/.classpath
crawler/.project
crawler/.settings/org.eclipse.jdt.apt.core.prefs
crawler/.settings/org.eclipse.jdt.core.prefs
Results/Corpus2_annotated.csv
*.json
src/test/resources/**
crawler/.factorypath
crawler/log/**
Results/**
log/**
multi_media/out
multi_media/storage
corpus4_construction/snopes_ml/__pycache__/ 
corpus4_construction/snopes_ml/utils/__pycache__/ 
*.pyc
corpus4_construction/snopes_ml/utils/__pycache__/__init__.cpython-36.pyc
crawler/Results_mode3/ 
multi_media/Results/**
corpus4_construction/test/Corpus2.csv
corpus4_construction/test/Corpus3.csv
corpus4_construction/test/Corpus4.csv
corpus4_construction/snopes_ml/utils/__pycache__/data_helpers.cpython-36.pyc
corpus4_construction/snopes_ml/utils/__pycache__/feature_engineering.cpython-36.pyc
corpus4_construction/snopes_ml/utils/__pycache__/data_helpers.cpython-36.pyc
final_corpus/mode1_old/Corpus3.csv
