crawler/out/
crawler/Results/
crawler/Results_mode1/**
crawler/Results1/
crawler/nohup.out
crawler/target/
crawler/src/test/
corpus4_construction/newdata/
final_corpus/

*.pyc
crawler/.settings/org.eclipse.m2e.core.prefs
crawler/.classpath
crawler/.project
crawler/.settings/org.eclipse.jdt.apt.core.prefs
crawler/.settings/org.eclipse.jdt.core.prefs
Results/Corpus2_annotated.csv
*.json
src/test/resources/**
crawler/.factorypath
crawler/log/**
Results/**
log/**
